#header {
    text-align: center;
    
 
   
}

body {
    background: url(../../assets/images/The-Big-Lebowski-Cast-Reunion-Photos-20th-Anniversary.jpg) no-repeat;
    background-size: cover;
    color: white;
    font-family: Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif; 
}